<div id="extra_info">
    <div class="wrapper">
        <div class="cat_list">
            <h3>
                Categories</h3>
            <ul class="simple_nav">
                <li>
                    <a href="/">
                        <img src="/gfx/Icons-Chilindo-END-mobile.png" alt="">
                        <span>Ending Now</span>
                    </a>
                </li>
                
                        <li>
                            <a href="/category/179/ForHer" id="repCategories_lnkCategory_0" cid="179" name="For Her">
                                <img src="/gfx/Icons-Chilindo-HER-mobile.png" alt="">
                                <span>For Her</span>
                            </a>
                        </li>
                    
                        <li>
                            <a href="/category/650/ForHim" id="repCategories_lnkCategory_1" cid="650" name="For Him">
                                <img src="/gfx/Icons-Chilindo-HIM-mobile.png" alt="">
                                <span>For Him</span>
                            </a>
                        </li>
                    
                        <li>
                            <a href="/category/696/Home_Garden" id="repCategories_lnkCategory_2" cid="696" name="Home &amp; Garden">
                                <img src="/gfx/Icons-Chilindo-HOME-mobile.png" alt="">
                                <span>Home &amp; Garden</span>
                            </a>
                        </li>
                    
                        <li>
                            <a href="/category/674/Kids_Toys" id="repCategories_lnkCategory_3" cid="674" name="Kids &amp; Toys">
                                <img src="/gfx/Icons-Chilindo-KIDS-mobile.png" alt="">
                                <span>Kids &amp; Toys</span>
                            </a>
                        </li>
                    
                        <li>
                            <a href="/category/165/Electronics_Gadgets" id="repCategories_lnkCategory_4" cid="165" name="Electronics &amp; Gadgets">
                                <img src="/gfx/Icons-Chilindo-GADGETS-mobile.png" alt="">
                                <span>Electronics &amp; Gadgets</span>
                            </a>
                        </li>
                    
                        <li>
                            <a href="/category/699/Travel_Sport" id="repCategories_lnkCategory_5" cid="699" name="Travel &amp; Sport">
                                <img src="/gfx/Icons-Chilindo-TRAVEL-mobile.png" alt="">
                                <span>Travel &amp; Sport</span>
                            </a>
                        </li>
                    
                        <li>
                            <a href="/category/766/Health_Beauty" id="repCategories_lnkCategory_6" cid="766" name="Health &amp; Beauty">
                                <img src="/gfx/Icons-Chilindo-Beauty-mobile.png" alt="">
                                <span>Health &amp; Beauty</span>
                            </a>
                        </li>
                    
                        <li>
                            <a href="/category/765/Car_Moto" id="repCategories_lnkCategory_7" cid="765" name="Car &amp; Moto">
                                <img src="/gfx/Icons-Chilindo-AUTOMOTO-mobile.png" alt="">
                                <span>Car &amp; Moto</span>
                            </a>
                        </li>
                    
                        <li>
                            <a href="/category/802/Tools" id="repCategories_lnkCategory_8" cid="802" name="Tools">
                                <img src="/gfx/Icons-Chilindo-TOOLS-mobile.png" alt="">
                                <span>Tools</span>
                            </a>
                        </li>
                    
            </ul>
        </div>
        <div class="About">
            <h3>
                About o-House Auction</h3>
            <ul class="simple_nav">
                
                        <li>
                            <a href="/Info.aspx?id=424">About Us</a>
                        </li>
                    
                        <li>
                            <a href="/Info.aspx?id=428">User Agreement</a>
                        </li>
                    
                        <li>
                            <a href="/Info.aspx?id=421">Privacy Policy</a>
                        </li>
                    
                        <li>
                            <a href="/Info.aspx?id=422">Company Info</a>
                        </li>
                    
                <li><a href="/Jobs.aspx">
                    Jobs</a></li>
            </ul>
        </div>
        <div class="site_map">
            <h3>
                Help &amp; Contact</h3>
            <ul class="simple_nav">
                
                        <li><a href="/Info.aspx?id=425">Contact</a></li>
                    
                        <li><a href="/Info.aspx?id=426">Delivery Info</a></li>
                    
                        <li><a href="/Info.aspx?id=420">Registration</a></li>
                    
                        <li><a href="/Info.aspx?id=423">Bidding Help</a></li>
                    
                        <li><a href="/Info.aspx?id=427">Payment &amp; Shipping</a></li>
                    
            </ul>
        </div>
        <div class="social_net">
            <h3>
                Stay Connected</h3>
            <ul class="simple_nav">
                <li><a id="fbLink" class="social_links fb_link" href="https://www.facebook.com/ChilindoVietnam/" target="_blank">Facebook</a></li>
                <li><a id="twitterLink" class="social_links tw_link" href="https://twitter.com/chilindoauction" target="_blank">Twitter</a></li>
                
                <li><a id="instagramLink" class="social_links ins_link" href="https://www.instagram.com/chilindo_vietnam/" target="_blank">Instagram</a></li>
                <li><a id="youtubeLink" class="social_links yu_link" href="https://www.youtube.com/channel/UCMrCeIr0j9D5qy1BLTZVJjw" target="_blank">Youtube</a></li>
            </ul>
        </div>

    </div>
</div>