# See http://help.github.com/ignore-files/ for more about ignoring files.


# Private Ethereum Blockchain
/o-HouseAuction_Private-Blockchain

#metamask
/stored-file-of-account-for-metamask

# System Files
.DS_Store
Thumbs.db
