# See http://help.github.com/ignore-files/ for more about ignoring files.


# Private Ethereum Blockchain
/o-HouseAuction_Private-Blockchain

#metamask
/stored-file-of-account-for-metamask

# System Files
.DS_Store
Thumbs.db

# See http://help.github.com/ignore-files/ for more about ignoring files.
Back-end/account-service/.classpath
Back-end/account-service/.project
Back-end/account-service/.settings
Back-end/account-service/target
Back-end/account-service/.springBeans

Back-end/api-gateway/.classpath
Back-end/api-gateway/.project
Back-end/api-gateway/.settings
Back-end/api-gateway/target
Back-end/api-gateway/.springBeans

Back-end/configuration-service/.classpath
Back-end/configuration-service/.project
Back-end/configuration-service/.settings
Back-end/configuration-service/target
Back-end/configuration-service/.springBeans
Back-end/discovery-service/.classpath
Back-end/discovery-service/.project
Back-end/discovery-service/.settings
Back-end/discovery-service/target
Back-end/discovery-service/.springBeans

Back-end/house-service/.classpath
Back-end/house-service/.project
Back-end/house-service/.settings
Back-end/house-service/target
Back-end/house-service/.springBeans

Back-end/authentication-service/.classpath
Back-end/authentication-service/.project
Back-end/authentication-service/.settings
Back-end/authentication-service/target
Back-end/authentication-service/mvnw
Back-end/authentication-service/mvnw.cmd
Back-end/authentication-service/.mvn
Back-end/authentication-service/.springBeans

/.metadata/
Back-end/bidhouse-common/target
Back-end/bidhouse-common/.mvn
Back-end/bidhouse-common/.settings
Back-end/bidhouse-common/mvnw
Back-end/bidhouse-common/mvnw.cmd
Back-end/bidhouse-common/.classpath
Back-end/bidhouse-common/.project
Back-end/bidhouse-common/.springBeans

Back-end/ethereum-service/target
Back-end/ethereum-service/.mvn
Back-end/ethereum-service/.settings
Back-end/ethereum-service/mvnw
Back-end/ethereum-service/mvnw.cmd
Back-end/ethereum-service/.classpath
Back-end/ethereum-service/.project
Back-end/ethereum-service/.springBeans

Back-end/Servers
Back-end/RemoteSystemsTempFiles
Back-end/.project

