<nav class="navbar navbar-default   ">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">o-HouseAuction</a> 
        </div>
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">House Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/account']">Account Management</a>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span>
                        <span>Peter.Do</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item">
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item">
                            <span>My Orders</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item">
                            <span>Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>