<nav class="navbar navbar-default navbar-page">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['view-house']">o-HouseAuction</a> 
        </div>
        <ul class="nav navbar-nav mr-auto ul-menu-item">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['my-cart']">My Cart</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['my-auctions']">My Auctions</a>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span>
                        <span>Peter.Do</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item">
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item">
                            <span>My Orders</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item">
                            <span>Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- <div id="header" class="">           
	<div class="wrapper" id="wrapper"> 
		<div id="mobileMenu" class="mobile-menu">
			<a class="mobile-menu-close"></a>
		</div>
		<div id="logo">
			<a href="/">
				o-HouseAuction
			</a>
		</div>
		<div id="users">
			
			<div class="user-nav-bar">
				 <span id="uPanelCartItemCountSmall">
				
					 </span>
				<div class="user-nav-bar-close"></div>
			</div>
			<ul class="user_nav" id="user_nav">
				<li>     
								   
						<a href="/account/my-cart" id="cart_button" class="cart_button">
					My Cart
							 <span id="uPanelCartItemCount">     
					
					  </span> 
				   </a>         
										   
						</li>
				<li><a href="/account/my-auction" class="my_auction_link">
					My Auctions</a></li>
				<li id="liUserSignIn">        
                    <div id="register">
                        <a href="/account/login" id="popsignin" class="sign_in" style="cursor: pointer" data-toggle="modal" data-target="#SignUpData"> 
                            Sign In
                        </a>
                    </div>
                </li>
											
				<li id="liUserProfile">
					<a href="#user_profile" id="show_user_profile">
						Welcome vinh.nguyễn.747554</a>
					<ul id="user_profile" class="submenu">
						<li><a href="/MyProfile.aspx">
							My Profile</a></li>
						<li><a href="/MyOrders.aspx" class="my_order_link">
							My Orders</a></li>
						<li>
							<a id="lnkLogOut" class="log_out" href="javascript:__doPostBack('ctl00$lnkLogOut','')">Log Out</a>
						</li>
					</ul>
				</li>
			</ul>
			<input type="hidden" name="ctl00$hdnDomain" id="hdnDomain">
			<input type="hidden" name="ctl00$hdnCurrency" id="hdnCurrency">
			<input type="hidden" name="ctl00$hdnLanguage" id="hdnLanguage"> 
			<input type="hidden" name="ctl00$hdnChilindoAppUser" id="hdnChilindoAppUser" value="vinhnguyen220195@yahoo.com#vi">          
		</div>
	</div>
</div> -->