<div id="tabs">
    <div class="wrapper">
        <ul id="categories" class="categories">
            <li>
                <a id="lnkAllCategories" class="active" href="/">
                    <img src="/gfx/Icons-Chilindo-END.png" class="desktop-icon" alt="Ending Now">
                    <img src="/gfx/Icons-Chilindo-END-mobile.png" class="mobile-icon" alt="Ending Now">
                    <img src="/gfx/Icons-Chilindo-END-hover.png" class="onhover-icon" alt="Ending Now">
                    
                    <span>Ending<br> Now</span>
                    <link rel="canonical" href="http://www.ohouseauction.com/">
                </a>
            </li>   

            <li>
                <a href="/category/696/Home_Garden" id="repCategoriesMenu_lnkCategory_2" cid="696" name="Home &amp; Garden">
                    <img id="repCategoriesMenu_imgPrimary_2" class="desktop-icon" src="/gfx/Icons-Chilindo-HOME.png">
                    <img id="repCategoriesMenu_imgMobile_2" class="mobile-icon" src="/gfx/Icons-Chilindo-HOME-mobile.png">
                    <img id="repCategoriesMenu_imgSecondary_2" class="onhover-icon" src="/gfx/Icons-Chilindo-HOME-hover.png">
                    <span id="repCategoriesMenu_lblCategory_2">Home<br> &amp; Garden</span>
                </a>
            </li>
            
            <!-- <li>
                <a href="/category/179/ForHer" id="repCategoriesMenu_lnkCategory_0" cid="179" name="For Her">
                    <img id="repCategoriesMenu_imgPrimary_0" class="desktop-icon" src="/gfx/Icons-Chilindo-HER.png">
                    <img id="repCategoriesMenu_imgMobile_0" class="mobile-icon" src="/gfx/Icons-Chilindo-HER-mobile.png">
                    <img id="repCategoriesMenu_imgSecondary_0" class="onhover-icon" src="/gfx/Icons-Chilindo-HER-hover.png">
                    <span id="repCategoriesMenu_lblCategory_0">For<br> Her</span>
                </a>
            </li>
        
            <li>
                <a href="/category/650/ForHim" id="repCategoriesMenu_lnkCategory_1" cid="650" name="For Him">
                    <img id="repCategoriesMenu_imgPrimary_1" class="desktop-icon" src="/gfx/Icons-Chilindo-HIM.png">
                    <img id="repCategoriesMenu_imgMobile_1" class="mobile-icon" src="/gfx/Icons-Chilindo-HIM-mobile.png">
                    <img id="repCategoriesMenu_imgSecondary_1" class="onhover-icon" src="/gfx/Icons-Chilindo-HIM-hover.png">
                    <span id="repCategoriesMenu_lblCategory_1">For<br> Him</span>
                </a>
            </li>
        
            <li>
                <a href="/category/674/Kids_Toys" id="repCategoriesMenu_lnkCategory_3" cid="674" name="Kids &amp; Toys">
                    <img id="repCategoriesMenu_imgPrimary_3" class="desktop-icon" src="/gfx/Icons-Chilindo-KIDS.png">
                    <img id="repCategoriesMenu_imgMobile_3" class="mobile-icon" src="/gfx/Icons-Chilindo-KIDS-mobile.png">
                    <img id="repCategoriesMenu_imgSecondary_3" class="onhover-icon" src="/gfx/Icons-Chilindo-KIDS-hover.png">
                    <span id="repCategoriesMenu_lblCategory_3">Kids<br> &amp; Toys</span>
                </a>
            </li>
        
            <li>
                <a href="/category/165/Electronics_Gadgets" id="repCategoriesMenu_lnkCategory_4" cid="165" name="Electronics &amp; Gadgets">
                    <img id="repCategoriesMenu_imgPrimary_4" class="desktop-icon" src="/gfx/Icons-Chilindo-GADGETS.png">
                    <img id="repCategoriesMenu_imgMobile_4" class="mobile-icon" src="/gfx/Icons-Chilindo-GADGETS-mobile.png">
                    <img id="repCategoriesMenu_imgSecondary_4" class="onhover-icon" src="/gfx/Icons-Chilindo-GADGETS-hover.png">
                    <span id="repCategoriesMenu_lblCategory_4">Electronics<br> &amp; Gadgets</span>
                </a>
            </li>
        
            <li>
                <a href="/category/699/Travel_Sport" id="repCategoriesMenu_lnkCategory_5" cid="699" name="Travel &amp; Sport">
                    <img id="repCategoriesMenu_imgPrimary_5" class="desktop-icon" src="/gfx/Icons-Chilindo-TRAVEL.png">
                    <img id="repCategoriesMenu_imgMobile_5" class="mobile-icon" src="/gfx/Icons-Chilindo-TRAVEL-mobile.png">
                    <img id="repCategoriesMenu_imgSecondary_5" class="onhover-icon" src="/gfx/Icons-Chilindo-TRAVEL-hover.png">
                    <span id="repCategoriesMenu_lblCategory_5">Travel<br> &amp; Sport</span>
                </a>
            </li>
        
            <li>
                <a href="/category/766/Health_Beauty" id="repCategoriesMenu_lnkCategory_6" cid="766" name="Health &amp; Beauty">
                    <img id="repCategoriesMenu_imgPrimary_6" class="desktop-icon" src="/gfx/Icons-Chilindo-Beauty.png">
                    <img id="repCategoriesMenu_imgMobile_6" class="mobile-icon" src="/gfx/Icons-Chilindo-Beauty-mobile.png">
                    <img id="repCategoriesMenu_imgSecondary_6" class="onhover-icon" src="/gfx/Icons-Chilindo-Beauty-hover.png">
                    <span id="repCategoriesMenu_lblCategory_6">Health<br> &amp; Beauty</span>
                </a>
            </li>
        
            <li>
                <a href="/category/765/Car_Moto" id="repCategoriesMenu_lnkCategory_7" cid="765" name="Car &amp; Moto">
                    <img id="repCategoriesMenu_imgPrimary_7" class="desktop-icon" src="/gfx/Icons-Chilindo-AUTOMOTO.png">
                    <img id="repCategoriesMenu_imgMobile_7" class="mobile-icon" src="/gfx/Icons-Chilindo-AUTOMOTO-mobile.png">
                    <img id="repCategoriesMenu_imgSecondary_7" class="onhover-icon" src="/gfx/Icons-Chilindo-AUTOMOTO-hover.png">
                    <span id="repCategoriesMenu_lblCategory_7">Car<br> &amp; Moto</span>
                </a>
            </li>
        
            <li>
                <a href="/category/802/Tools" id="repCategoriesMenu_lnkCategory_8" cid="802" name="Tools">
                    <img id="repCategoriesMenu_imgPrimary_8" class="desktop-icon" src="/gfx/Icons-Chilindo-TOOLS.png">
                    <img id="repCategoriesMenu_imgMobile_8" class="mobile-icon" src="/gfx/Icons-Chilindo-TOOLS-mobile.png">
                    <img id="repCategoriesMenu_imgSecondary_8" class="onhover-icon" src="/gfx/Icons-Chilindo-TOOLS-hover.png">
                    <span id="repCategoriesMenu_lblCategory_8">Tools</span>
                </a>
            </li> -->
                
        </ul>
    </div>
</div>
<!-- <div id="infobar" class="infobar">
    <div class="wrapper">
        <ul id="baritems" class="baritems">
            <li class="baritem1">
                14 day Return Policy</li>
            <li class="baritem2">
                    Shipping from : 29.000 ₫</li>
            <li class="baritem4">
                support.vn@ohouseauction.com</li>
        </ul>
    </div>
</div> -->