<div class="wrapper">
    <h1>Giỏ hàng</h1>
    <div class="left_col">
        <!-- UPDATES - In-Cart Only display 'in-cart' if users have product in the cart -->
        <div class="in-cart">
            <div class="div-inline-block full-width clearfix">
                <div class="float-left">
                        <h2>Giỏ hàng - đang chờ thanh toán</h2>
                </div>
            </div>
            <ul class="cart_list">
                <li id="ContentPlaceHolder1_liHeader" class="cart_heading">
                    <span class="cart_item_title">
                        Sản phẩm</span>
                    <span class="cart_item_price">
                        Giá
                        /
                            Từng phần
                        <div class="tooltip_icon tooltip">
                            <i class="fa fa-info-circle"></i>
                            <div class="tooltiptext">
                                Giá đã cộng 10% phí dịch vụ
                            </div>
                        </div>
                    </span>
                </li>
                <li id="ContentPlaceHolder1_repCart_liCartRows_0" class="cart_rows odd">
                    <span id="ContentPlaceHolder1_repCart_spanCartItemImg_0" class="cart_item_img">
                        <div class="zoomWrapper"><img id="ContentPlaceHolder1_repCart_imgCartItem_0" imgpath="/XML/Gfx/11-616/11-616-1_75.jpg" data-zoom-image="http://www.cdn-ohouseacution.com/XML/Gfx/11-616/11-616-1_720.jpg" src="//d2w0fkre85jr98.cloudfront.net/2017/5/201115429/201115429_20170526062529123_4.JPEG.X278.Y184.JPEG"></div>
                    </span>
                    <span id="ContentPlaceHolder1_repCart_spCartItemTitle_0" class="cart_item_title">
                        <span id="ContentPlaceHolder1_repCart_lbTitle_0" auctionid="106210383"><a href="/auction.aspx?aid=106210383&amp;GoNext=No"> House 1 floor, Nguyen Du, District 1, Ho Chi Minh city</a></span>
                    </span>
                    <input type="submit" name="ctl00$ContentPlaceHolder1$repCart$ctl00$CBE_CBE_MPE_Placeholder" value="" id="ContentPlaceHolder1_repCart_CBE_CBE_MPE_Placeholder_0" style="display:none;">
                    <div id="ContentPlaceHolder1_repCart_pnlPopup_0" class="modalPopup remove_item" style="display: none; position: fixed; z-index: 10001;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close closevoucher" data-dismiss="modal" onclick="$(this).parents('.modal-content').find('.btnNo')[0].click();">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="voucher_wrapper">
                                        <div class="voucher-info">
                                            <span id="ContentPlaceHolder1_repCart_lblConfirmMsg_0"></span>
                                        </div>
                                        <div class="voucher-input">
                                        </div>
                                        <a id="ContentPlaceHolder1_repCart_btnYes_0" class="buttons large voucher"><span id="ContentPlaceHolder1_repCart_lbl970_0"></span></a>
                                        <a id="ContentPlaceHolder1_repCart_btnNo_0" class="buttons large voucher btnNo"><span id="ContentPlaceHolder1_repCart_lbl377_0"></span></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <span id="ContentPlaceHolder1_repCart_spCartItemPrice_0" class="cart_item_price">
                        <b>($107,000) /</b> $107,000
                    </span>
                    <div data-act-control-type="modalPopupBackground" id="ContentPlaceHolder1_repCart_MPE_0_backgroundElement" class="ModalPopupBG" style="display: none; position: fixed; left: 0px; top: 0px; z-index: 10000;"></div>
                </li>
                    <li id="ContentPlaceHolder1_repCart_liCartRows_2" class="cart_rows even total_checkout_price">        
                        <span id="ContentPlaceHolder1_repCart_spCartItemTitle_2" class="cart_item_title total_in_cart">
                            <span id="ContentPlaceHolder1_repCart_lbTitle_2" auctionid="">Tổng</span>
                        </span>
                        <input type="submit" name="ctl00$ContentPlaceHolder1$repCart$ctl02$CBE_CBE_MPE_Placeholder" value="" id="ContentPlaceHolder1_repCart_CBE_CBE_MPE_Placeholder_2" style="display:none;">            
                        <div id="ContentPlaceHolder1_repCart_pnlPopup_2" class="modalPopup remove_item" style="display: none; position: fixed; z-index: 10001;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close closevoucher" data-dismiss="modal" onclick="$(this).parents('.modal-content').find('.btnNo')[0].click();">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="voucher_wrapper">
                                            <div class="voucher-info">
                                                <span id="ContentPlaceHolder1_repCart_lblConfirmMsg_2"></span>
                                            </div>
                                            <div class="voucher-input">
                                            </div>
                                            <a id="ContentPlaceHolder1_repCart_btnYes_2" class="buttons large voucher"><span id="ContentPlaceHolder1_repCart_lbl970_2"></span></a>
                                            <a id="ContentPlaceHolder1_repCart_btnNo_2" class="buttons large voucher btnNo"><span id="ContentPlaceHolder1_repCart_lbl377_2"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span id="ContentPlaceHolder1_repCart_spCartItemPrice_2" class="cart_item_price total_in_cart">$107,000</span>
                    <div data-act-control-type="modalPopupBackground" id="ContentPlaceHolder1_repCart_MPE_2_backgroundElement" class="ModalPopupBG" style="display: none; position: fixed; left: 0px; top: 0px; z-index: 10000;"></div>
                </li>
            </ul>
            <div class="checkout_start">
                <a class="nav-link buttons checkout large" [routerLink]="['/check-out']" id="ContentPlaceHolder1_lnkCheckOut" style="margin-top: 6px;">Checkout Now</a>
                <!-- <a href= id="ContentPlaceHolder1_lnkCheckOut" style="margin-top: 6px;" class="buttons checkout large">Hoàn tất ngay</a><br> -->
            </div>
            <div class="bank_codeicon">
                <div id="ModalData" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close closevoucher" data-dismiss="modal" onclick="closeVoucherPopup();">×</button>
                            </div>
                            <div class="modal-body">
                                <div id="ContentPlaceHolder1_pnlVoucher" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ContentPlaceHolder1_lnkVoucher')">
                                    <div class="voucher_wrapper">
                                        <div class="voucher-headline">
                                            <h2>
                                                Voucher</h2>
                                        </div>
                                        <div class="voucher-info">
                                            Nếu bạn nhận được voucher, bạn có thể điền vào đây để được khuyến mãi.
                                        </div>
                                        <div class="voucher-input">
                                            <input name="ctl00$ContentPlaceHolder1$txtVoucher" type="text" id="ContentPlaceHolder1_txtVoucher" placeholder="Mã Voucher ">
                                        </div>
                                        <a id="ContentPlaceHolder1_lnkVoucher" class="buttons large voucher" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$lnkVoucher','')">Gửi Voucher</a>
                                        <div id="voucher_validate" class="voucher-validate" style="margin-top: 15px"></div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
    <br>
</div>