/*
* @Author: Uncle's Hung
* @Date:   2018-02-14 01:18:11
* @Last Modified by:   Uncle's Hung
* @Last Modified time: 2018-02-15 16:18:54
*/
.loader{
	background:rgba(255, 255, 255, 0.8);
	pointer-events: none;
	height: 100%;
	width: 100%;
	position:absolute;
	display:flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-content: center;
	justify-content: center;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}