<!--sign in component  -->
<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form #f="ngForm" class="login-form" (ngSubmit)="signIn(f)">
        <input type="text" placeholder="username" name="username" [(ngModel)]="username" />
        <input type="password" placeholder="password" name="password" [(ngModel)]="password"/>
        <button type="submit">SIGN IN</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
  </div>
  <script>
  $('.message a').click(function(){
     $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });
  </script>