<div id="checkout" class="single_page checkout_payment">

<div id="content" style="min-height: 635px;">
<div class="wrapper">

    <div id="heading">
        <div class="wrapper">
            <h1>
                Thanh toán</h1>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#dctt">Địa chỉ thanh toán</a></li>
        <li><a data-toggle="tab" href="#htgh">HÌnh thức giao hàng</a></li>
        <li><a data-toggle="tab" href="#ttdh">Tình trạng đơn hàng</a></li>
      </ul>
    
      <div class="tab-content">
        <div id="dctt" class="tab-pane fade in active">
            <div class="left">
                <div id="ContentPlaceHolder1_billing_address" class="payment_info active">

                    <div id="ContentPlaceHolder1_UpdateProgress1" style="display:none;" role="status" aria-hidden="true">

                            <div class="divWaiting">
                                <span id="ContentPlaceHolder1_lblWait"> Please wait... </span>
                                <img id="ContentPlaceHolder1_imgWait" src="../Gfx/loader.gif" align="middle">
                            </div>
                        </div>
                    <h2>
                        Địa chỉ gửi hàng</h2>
                    
                    <div id="ContentPlaceHolder1_UpdatePanel1">

                        <div class="payment_info_inner">
                            
                            <p id="ContentPlaceHolder1_p164" class="form-group has-success" validation="vn">
                                <label>
                                    <span id="ContentPlaceHolder1_lit164">Tên</span></label><input name="ctl00$ContentPlaceHolder1$txtFirstname" type="text" value="Nguyen" id="ContentPlaceHolder1_txtFirstname" class="address_input form-control" required="" placeholder="Tên">
                                <span id="ContentPlaceHolder1_lit164_validate" class="required_field"></span>
                            </p>
                            <p id="ContentPlaceHolder1_p165" class="form-group has-success" validation="vn">
                                <label>
                                    <span id="ContentPlaceHolder1_lit165">Họ</span></label><input name="ctl00$ContentPlaceHolder1$txtLastname" type="text" value="Haohmaru" id="ContentPlaceHolder1_txtLastname" class="address_input form-control" required="" placeholder="Họ">
                                <span id="ContentPlaceHolder1_lit165_validate" class="required_field"></span>
                            </p>
                            <p id="ContentPlaceHolder1_p168" class="form-group has-success" validation="vn">
                                <label>
                                    <span id="ContentPlaceHolder1_lit168">Thành Phố/Tỉnh</span></label>
                                
                                <span id="ContentPlaceHolder1_ddl_provincebg" class="option_placeholder">
                                    <select name="ctl00$ContentPlaceHolder1$ddlProvince" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ddlProvince\',\'\')', 0)" id="ContentPlaceHolder1_ddlProvince" class="address_input option_list form-control" required="">
    <option value="">Chọn Thành phố/Tỉnh</option>
    <option value="An Giang">An Giang</option>
    <option value="Bạc Liêu">Bạc Liêu</option>
    <option selected="selected" value="Bắc Giang">Bắc Giang</option>
    <option value="Bắc Kạn">Bắc Kạn</option>
    <option value="Bắc Ninh">Bắc Ninh</option>
    <option value="Bến Tre">Bến Tre</option>
    <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
    <option value="Bình Định">Bình Định</option>
    <option value="Bình Dương">Bình Dương</option>
    <option value="Bình Phước">Bình Phước</option>
    <option value="Bình Thuận">Bình Thuận</option>
    <option value="Cao Bằng">Cao Bằng</option>
    <option value="Cần Thơ">Cần Thơ</option>
    <option value="Cà Mau">Cà Mau</option>
    <option value="Gia Lai">Gia Lai</option>
    <option value="Hải Dương">Hải Dương</option>
    <option value="Hải Phòng">Hải Phòng</option>
    <option value="Hậu Giang">Hậu Giang</option>
    <option value="Hưng Yên">Hưng Yên</option>
    <option value="Hồ Chí Minh">Hồ Chí Minh</option>
    <option value="Hà Giang">Hà Giang</option>
    <option value="Hà Nam">Hà Nam</option>
    <option value="Hà Nội">Hà Nội</option>
    <option value="Hà Tĩnh">Hà Tĩnh</option>
    <option value="Hòa Bình">Hòa Bình</option>
    <option value="Khánh Hòa">Khánh Hòa</option>
    <option value="Kiên Giang">Kiên Giang</option>
    <option value="Kon Tum">Kon Tum</option>
    <option value="Lai Châu">Lai Châu</option>
    <option value="Long An">Long An</option>
    <option value="Lạng Sơn">Lạng Sơn</option>
    <option value="Lào Cai">Lào Cai</option>
    <option value="Lâm Đồng">Lâm Đồng</option>
    <option value="Nam Định">Nam Định</option>
    <option value="Nghệ An">Nghệ An</option>
    <option value="Ninh Bình">Ninh Bình</option>
    <option value="Ninh Thuận">Ninh Thuận</option>
    <option value="Phú Thọ">Phú Thọ</option>
    <option value="Phú Yên">Phú Yên</option>
    <option value="Quảng Bình">Quảng Bình</option>
    <option value="Quảng Nam">Quảng Nam</option>
    <option value="Quảng Ngãi">Quảng Ngãi</option>
    <option value="Quảng Ninh">Quảng Ninh</option>
    <option value="Quảng Trị">Quảng Trị</option>
    <option value="Sơn La">Sơn La</option>
    <option value="Sóc Trăng">Sóc Trăng</option>
    <option value="Thanh Hóa">Thanh Hóa</option>
    <option value="Thái Bình">Thái Bình</option>
    <option value="Thái Nguyên">Thái Nguyên</option>
    <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
    <option value="Tiền Giang">Tiền Giang</option>
    <option value="Trà Vinh">Trà Vinh</option>
    <option value="Tuyên Quang">Tuyên Quang</option>
    <option value="Tây Ninh">Tây Ninh</option>
    <option value="Vĩnh Long">Vĩnh Long</option>
    <option value="Vĩnh Phúc">Vĩnh Phúc</option>
    <option value="Yên Bái">Yên Bái</option>
    <option value="Điện Biên">Điện Biên</option>
    <option value="Đắk Lăk">Đắk Lăk</option>
    <option value="Đắk Nông">Đắk Nông</option>
    <option value="Đồng Nai">Đồng Nai</option>
    <option value="Đồng Tháp">Đồng Tháp</option>
    <option value="Đà Nẵng">Đà Nẵng</option>

    </select>
                                    </span>
                                    <span id="ContentPlaceHolder1_lit168_validate" class="required_field"></span>
                                </p>

                                <p id="ContentPlaceHolder1_p169" class="form-group has-success" validation="vn">
                                    <label>
                                        <span id="ContentPlaceHolder1_lit169">Quận/Huyện</span></label>
                                    <span id="ContentPlaceHolder1_ddl_dictrictbg" class="option_placeholder">
                                        <select name="ctl00$ContentPlaceHolder1$ddlDistrict" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ddlDistrict\',\'\')', 0)" id="ContentPlaceHolder1_ddlDistrict" class="address_input option_list form-control" required="">
    <option value="">Chọn quận/huyện</option>
    <option value="Bắc Giang">Bắc Giang</option>
    <option value="Hiệp Hòa">Hiệp Hòa</option>
    <option selected="selected" value="Lạng Giang">Lạng Giang</option>
    <option value="Lục Nam">Lục Nam</option>
    <option value="Lục Ngạn">Lục Ngạn</option>
    <option value="Sơn Động">Sơn Động</option>
    <option value="Tân Yên">Tân Yên</option>
    <option value="Việt Yên">Việt Yên</option>
    <option value="Yên Dũng">Yên Dũng</option>
    <option value="Yên Thế">Yên Thế</option>

    </select>
                                    </span>
                                    <span id="ContentPlaceHolder1_lit169_validate" class="required_field"></span>
                                </p>

                                <p id="ContentPlaceHolder1_p507" class="form-group has-success" validation="vn">
                                    <label>
                                        <span id="ContentPlaceHolder1_lit507">Phường/Xã</span></label>
                                    <span id="ContentPlaceHolder1_ddl_dictrictsubbg" class="option_placeholder">
                                        <select name="ctl00$ContentPlaceHolder1$ddlDistrictSub" id="ContentPlaceHolder1_ddlDistrictSub" class="address_input option_list form-control" required="">
    <option value="">Chọn phường/xã</option>
    <option value="An Hà">An Hà</option>
    <option value="Dương Đức">Dương Đức</option>
    <option value="Hương Lạc">Hương Lạc</option>
    <option value="Hương Sơn">Hương Sơn</option>
    <option value="Kép">Kép</option>
    <option value="Mỹ Hà">Mỹ Hà</option>
    <option value="Mỹ Thái">Mỹ Thái</option>
    <option value="Nghĩa Hưng">Nghĩa Hưng</option>
    <option value="Nghĩa Hòa">Nghĩa Hòa</option>
    <option value="Phi Mô">Phi Mô</option>
    <option value="Quang Thịnh">Quang Thịnh</option>
    <option value="Thái Đào">Thái Đào</option>
    <option value="Tiên Lục">Tiên Lục</option>
    <option value="Tân Dĩnh">Tân Dĩnh</option>
    <option value="Tân Hưng">Tân Hưng</option>
    <option value="Tân Thanh">Tân Thanh</option>
    <option selected="selected" value="Tân Thịnh">Tân Thịnh</option>
    <option value="Vôi">Vôi</option>
    <option value="Xuân Hương">Xuân Hương</option>
    <option value="Xương Lâm">Xương Lâm</option>
    <option value="Yên Mỹ">Yên Mỹ</option>
    <option value="Đại Lâm">Đại Lâm</option>
    <option value="Đào Mỹ">Đào Mỹ</option>

    </select>
                                        
                                    </span>
                                    <span id="ContentPlaceHolder1_lit507_validate" class="required_field"></span>
                                </p>

                                <p id="ContentPlaceHolder1_p166" class="form-group has-success" validation="vn">
                                    <label>
                                        <span id="ContentPlaceHolder1_lit166">Địa chỉ</span></label><input name="ctl00$ContentPlaceHolder1$txtAddress" type="text" value="1 2 3" id="ContentPlaceHolder1_txtAddress" class="address_input form-control" required="" placeholder="Số + làng + đường" fld_length=">3">
                                    <span id="ContentPlaceHolder1_lit166_validate" class="required_field"></span>
                                </p>
                                



                                <p id="ContentPlaceHolder1_p167" class="form-group country has-success" validation="vn">
                                    <label>
                                        <span id="ContentPlaceHolder1_lit167">Quốc gia</span></label>
                                    <span id="ContentPlaceHolder1_ddl_countrybg" class="option_placeholder disable_field">
                                        <select name="ctl00$ContentPlaceHolder1$ddlCountry" id="ContentPlaceHolder1_ddlCountry" disabled="disabled" class="aspNetDisabled address_input option_list form-control" required="">
    <option selected="selected" value="vn">Vietnam</option>

    </select>
                                    </span>
                                    <span id="ContentPlaceHolder1_lit167_validate" class="required_field"></span>
                                </p>

                                <p id="ContentPlaceHolder1_p171" class="form-group email has-success" validation="vn">
                                    <label>
                                        <span id="ContentPlaceHolder1_lit171">Email</span></label><input name="ctl00$ContentPlaceHolder1$txtEmail" type="text" value="newlifecomestome@yahoo.com" id="ContentPlaceHolder1_txtEmail" disabled="disabled" class="aspNetDisabled address_input form-control" required=""><span id="ContentPlaceHolder1_lit171_validate" class="required_field"></span>
                                </p>
                                <p id="ContentPlaceHolder1_p172" class="form-group has-success" validation="vn">
                                    <label>
                                        <span id="ContentPlaceHolder1_lit172">Di động</span></label><input name="ctl00$ContentPlaceHolder1$txtPhone" type="text" value="0318938419418" id="ContentPlaceHolder1_txtPhone" class="general_input mobile_input form-control numbersOnly" required="" placeholder="Điện thoại" fld_length=">6"><span id="ContentPlaceHolder1_lit172_validate" class="required_field"></span>
                                    
                                </p>


                                


                                <p id="ContentPlaceHolder1_p173" validation="vn">
                                    
                                    <label>
                                        <span id="ContentPlaceHolder1_lit173">Hướng dẫn giao hàng</span></label><textarea name="ctl00$ContentPlaceHolder1$txtInfo" rows="3" cols="20" id="ContentPlaceHolder1_txtInfo" class="address_input text_area form-control" placeholder="(không bắt buộc)"></textarea><span id="ContentPlaceHolder1_lit173_validate" class="required_field"></span>
                                </p>
                                

                                
                            </div>
                        
    </div>

                    <div class="checkout_progress">
                        <input type="submit" name="ctl00$ContentPlaceHolder1$lnkBtnNext_billing_address" value="Tiếp theo" id="ContentPlaceHolder1_lnkBtnNext_billing_address" class="buttons checkout large bg-btn-icon">
                    </div>
                </div>
                <div id="ContentPlaceHolder1_UpdateProgress2" style="display:none;" role="status" aria-hidden="true">

                        <div class="divWaiting">
                            <span id="ContentPlaceHolder1_lblWait1"> Please wait... </span>
                            <img id="ContentPlaceHolder1_imgWait1" src="../Gfx/loader.gif" align="middle">
                        </div>
                    
    </div>
                <div id="ContentPlaceHolder1_UpdatePanel2">

                        
                        
                    
    </div>

                

                

                
            </div>
        </div>
        <div id="htgh" class="tab-pane fade">
            <div id="ContentPlaceHolder1_delivery_options" class="payment_info active">
                <div id="ContentPlaceHolder1_dvDeliveryOptions">
                    <h2>
                        Chọn hình thức giao hàng:</h2>
                    
                    <div class="delivery_option_list_main">
                        
                                <div id="ContentPlaceHolder1_repDeliveryOptions_delivery_option_list_title_0" class="delivery_option_list_title">
                                    <div class="delivery_method">
                                        <span class="method_option">
                                            <span option_text_id="896" option_description_id="897" del_amount="29000,00" isbasecurrencyprice="False" carrierprice="" carrierid=""><input id="ctl00_ContentPlaceHolder1_repDeliveryOptions_ctl00_radDeliveryOption" type="radio" name="ctl00$ContentPlaceHolder1$repDeliveryOptions$ctl00$delivery_option" value="STANDARD" checked="checked"><label for="ctl00_ContentPlaceHolder1_repDeliveryOptions_ctl00_radDeliveryOption">Giao hàng tiêu chuẩn - giao hàng tận nơi.
    </label></span></span>
                                        
                                        <span class="method_description">
                                            giao hàng 1-3 ngày | từ 29.000 ₫</span> 
                                        <span id="ContentPlaceHolder1_repDeliveryOptions_ImgStandardDelivery_0"><img src="/gfx/COD.png" alt="COD" class="small_COD"><img src="/gfx/my_bank.png" alt="my_bank" class="small_my_bank"></span>
                                        
                                    </div>

                                    <p class="delivery_description"></p>
                                </div>
                            
                        

                        <div id="ContentPlaceHolder1_payment_options" class="payment_info active">

                            <div id="ContentPlaceHolder1_dvPaymentOptions">
                                <div style="width: 650px;" class="payment_options_head">
                                    
                                </div>
                                <div id="ContentPlaceHolder1_dvPaymentOptions_inner">
                                    <div class="payment_options_main">
                                        <h2>
                                            Bạn muốn thanh toán theo cách nào?</h2>
                                        
                                        
                                        
                                        <ul class="payment_option_list">
                                            
                                                    <li>
                                                        <div id="ContentPlaceHolder1_repPaymentOptions_payment_option_list_inner_0" class="payment_option_list_inner">
                                                            <span id="ContentPlaceHolder1_repPaymentOptions_spanPaymentTitle_0" class="method_option_title">Thanh Toán Khi Nhận Hàng</span>
                                                            <div class="method_option_images">
                                                                <img src="/gfx/COD.png" alt="COD">
                                                                
                                                            </div>
                                                            <span class="method_option">
                                                                
                                                                <span method_text_id="0" method_option_text_id="544" deliverytype="STANDARD" isbasecurrencyprice="False"><input id="ctl00_ContentPlaceHolder1_repPaymentOptions_ctl00_radPaymentOption" type="radio" name="ctl00$ContentPlaceHolder1$repPaymentOptions$ctl00$payment_option" value="COD" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$repPaymentOptions$ctl00$radPaymentOption\',\'\')', 0)"><label for="ctl00_ContentPlaceHolder1_repPaymentOptions_ctl00_radPaymentOption">+0 ₫</label></span>
                                                                
                                                                
                                                                
                                                                
                                                            </span>
                                                            

                                                            
                                                            
                                                            
                                                            
                                                            
                                                        </div>
                                                    </li>
                                                
                                                    <li>
                                                        <div id="ContentPlaceHolder1_repPaymentOptions_payment_option_list_inner_1" class="payment_option_list_inner">
                                                            <span id="ContentPlaceHolder1_repPaymentOptions_spanPaymentTitle_1" class="method_option_title">ATM/Chuyển khoản</span>
                                                            <div class="method_option_images">
                                                                <img src="/gfx/my_bank.png" alt="ATM/Bank">
                                                                
                                                            </div>
                                                            <span class="method_option">
                                                                
                                                                <span method_text_id="283" method_option_text_id="154" deliverytype="STANDARD" isbasecurrencyprice="False"><input id="ctl00_ContentPlaceHolder1_repPaymentOptions_ctl01_radPaymentOption" type="radio" name="ctl00$ContentPlaceHolder1$repPaymentOptions$ctl01$payment_option" value="BANKWIRE" onclick="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$repPaymentOptions$ctl01$radPaymentOption\',\'\')', 0)"><label for="ctl00_ContentPlaceHolder1_repPaymentOptions_ctl01_radPaymentOption">+0 ₫</label></span>
                                                                
                                                                
                                                                
                                                                
                                                            </span>
                                                            

                                                            
                                                            
                                                            
                                                            
                                                            
                                                        </div>
                                                    </li>
                                                
                                        </ul>
                                    </div>
                                    <div class="payment_options_details">
                                        <div class="payment_info active">
                                            
                                            

                                            

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="payment_options_validate">
                                <span id="ContentPlaceHolder1_lbPaymentInfoValidate" style="color:Red;"></span>
                            </div>
                        </div>
                    </div>
        </div>
        <div id="ttdh" class="tab-pane fade">
            <div id="ContentPlaceHolder1_payment_gateway" class="payment_info active">
                
                                        
                <div id="ContentPlaceHolder1_dvStatusPayment" class="checkout-status-payment">
                    <h2>
                        Hình thức thanh toán đã chọn:</h2>
                    <div>
                        <p>
                            
                        </p>
                    </div>
                    <div class="checkout-status-payment-txt">
                        Cash On Delivery
                    </div>
                    <div class="checkout-status-payment-info">
                        <a id="ContentPlaceHolder1_lnkChangePaymentOption" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$lnkChangePaymentOption','')">Thay đổi hình thức thanh toán</a>
                    </div>
                </div>
                

                <div id="dvPaymentOptionsStep4">
                    <div class="payment_options_main_step4">
                        
                    </div>
                    <div class="payment_options_details_step4">
                        
                    </div>
                </div>

                <div class="checkout_progress">
                    
                </div>
            </div>
            <div id="ContentPlaceHolder1_invoice" class="payment_info active">
                <div id="ContentPlaceHolder1_pnlInvoice">


                    <div id="ContentPlaceHolder1_pnlCODNote">

                        <div id="cash_on_delivery_note">
                            <h2><span class="alertness">
                                
                                :</span> <u>
                                    Chỉ nhận tiền mặt khi giao hàng</u> </h2>
                        </div>
                    
</div>
                    

                    

                    <div id="invoice_details">
                        <div class="heading">
                            <div class="inv_id">
                                <h2>
                                    Hoá đơn số ORD13579569</h2>
                                <h5>
                                    16-02-2018
                                    (Thanh toán bởi
                                    16-02-2018
                                    )</h5>
                            </div>
                            <div class="inv_logo"><a href="#">
                                Chilindo
                            </a></div>
                        </div>
                        <div class="inv_business_info">
                            <div class="inv_client">
                                <h3>
                                    Nguyen Haohmaru
                                </h3>
                                <p class="inv_details">
                                    1 2 3
                                </p>
                                <p class="inv_details">
                                    Vietnam
                                </p>
                                <p class="inv_details">
                                    Bắc Giang
                                </p>
                                <p class="inv_details">
                                    Lạng Giang
                                </p>
                                <p class="inv_details">
                                    234151
                                </p>


                            </div>
                            <div class="inv_company">
                                <h3>
                                    Chilindo.com
                                </h3>
                                <p class="inv_details">
                                    Số 146-148 đường Cộng Hòa
                                </p>
                                <p class="inv_details">
                                    Phường 12
Quận Tân Bình
                                </p>
                                <p class="inv_details">
                                    Hồ Chí Minh
                                </p>
                                <p class="inv_details">
                                    Việt Nam
                                </p>
                            </div>
                        </div>
                        <div class="in-cart">
                            <ul class="cart_list">
                                <li class="cart_heading">
                                    <span class="cart_item">
                                        Sản phẩm</span>
                                    
                                    <span class="cart_item_price">
                                        Giá
                                        /
                                    
                                        <div class="tooltip_icon tooltip">
                                            <i class="fa fa-info-circle"></i>
                                            <div class="tooltiptext">
                                                
                                            </div>
                                        </div>
                                    </span>
                                </li>

                                
                                        <li class="cart_rows odd">
                                            <span id="ContentPlaceHolder1_repCartItems_spanCartItemImg_0" class="cart_item_img">
                                                <div class="zoomWrapper"><img id="ContentPlaceHolder1_repCartItems_imgCartItem_0" imgpath="/XML/Gfx/45-437/45-437_01_75.jpg" saleid="0" data-zoom-image="https://www.cdn-chilindo.com/XML/Gfx/45-437/45-437_01_720.jpg" src="https://www.cdn-chilindo.com/XML/Gfx/45-437/45-437_01_75.jpg"></div>
                                            </span>
                                            <span class="cart_item">
                                                
                                                
                                                
                                                <span id="ContentPlaceHolder1_repCartItems_lbTitleItemName_0" auctionid="112882664"><a href="/auction.aspx?aid=112882664&amp;GoNext=No" target="_blank">Kính mát nam NEAT: Tròng đen</a></span>
                                            </span>
                                            <span class="cart_unit_price">
                                                </span>
                                            <span id="ContentPlaceHolder1_repCartItems_spCartItemPrice_0" class="cart_total_unit_price cart_item_price">
                                                <b>(39.000) /</b> 42.900</span>

                                        </li>
                                    
                                        <li class="cart_rows odd">
                                            <span id="ContentPlaceHolder1_repCartItems_spanCartItemImg_1" class="cart_item_img">
                                                <div class="zoomWrapper"><img id="ContentPlaceHolder1_repCartItems_imgCartItem_1" imgpath="/XML/Gfx/45-472/45-472_011_75.jpg" saleid="0" data-zoom-image="https://www.cdn-chilindo.com/XML/Gfx/45-472/45-472_011_720.jpg" src="https://www.cdn-chilindo.com/XML/Gfx/45-472/45-472_011_75.jpg"></div>
                                            </span>
                                            <span class="cart_item">
                                                
                                                
                                                
                                                <span id="ContentPlaceHolder1_repCartItems_lbTitleItemName_1" auctionid="112873487"><a href="/auction.aspx?aid=112873487&amp;GoNext=No" target="_blank">Đồng hồ nam NEAT: Xanh lá</a></span>
                                            </span>
                                            <span class="cart_unit_price">
                                                </span>
                                            <span id="ContentPlaceHolder1_repCartItems_spCartItemPrice_1" class="cart_total_unit_price cart_item_price">
                                                <b>(96.000) /</b> 105.600</span>

                                        </li>
                                    
                                        <li class="cart_rows odd">
                                            
                                            <span class="cart_item">
                                                
                                                
                                                Khuyến mãi
                                                
                                            </span>
                                            <span class="cart_unit_price">
                                                </span>
                                            <span id="ContentPlaceHolder1_repCartItems_spCartItemPrice_3" class="cart_total_unit_price cart_item_price">
                                                0</span>

                                        </li>
                                    
                                        <li class="cart_rows odd">
                                            
                                            <span class="cart_item">
                                                
                                                
                                                Giao hàng
                                                
                                            </span>
                                            <span class="cart_unit_price">
                                                </span>
                                            <span id="ContentPlaceHolder1_repCartItems_spCartItemPrice_4" class="cart_total_unit_price cart_item_price">
                                                29.000</span>

                                        </li>
                                    
                                        <li class="cart_rows odd">
                                            
                                            <span class="cart_item">
                                                
                                                
                                                Tổng
                                                
                                            </span>
                                            <span class="cart_unit_price">
                                                </span>
                                            <span id="ContentPlaceHolder1_repCartItems_spCartItemPrice_5" class="cart_item_price total_in_cart">
                                                ₫ 177.500</span>

                                        </li>
                                    

                            </ul>
                        </div>
                        <div class="inv_payment_info">
                            <div class="inv_payment_details">
                                <h3>
                                    Chi tiết thanh toán
                                </h3>
                                <p class="inv_details">
                                    
                                </p>
                                <p class="inv_details">
                                    
                                </p>
                                <p class="inv_details">
                                    

                                </p>
                            </div>
                            <div class="inv_other_info">
                                <h3>
                                    Thông tin khác</h3>
                                <p class="inv_details">
                                    Giấy phép ĐKKD số: 0314559014
                                </p>
                                <p class="inv_details">
                                    Mã số thuế số: 0314559014
                                </p>
                                <p class="inv_details">
                                    Liên hệ phòng kinh doanh:
                                    <a href="mailto:support.vn@chilindo.com">support.vn@chilindo.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="checkout_progress">
                        <a id="ContentPlaceHolder1_lnkInvoicePrint" class="buttons print_invoice large" href="../Order.aspx?orderguid=F0A3EF0C-CD70-4D94-940D-5D099A2E9567" target="_blank">In hoá đơn</a>
                    </div>
                
</div>
    </div>

    <div class="right">
        <div id="help_center" class="gotquestions">
            <h2>Có câu hỏi?</h2>
<p>Vui lòng liên hệ bộ phận hỗ trợ 24 giờ của chúng tôi.</p>
<p class="customer_support_tel">Sdt. 02836222111</p>
        </div>
        <div id="ContentPlaceHolder1_UpdatePanel4">

                <div id="ContentPlaceHolder1_pnlRightOrderInfo">

                    <div id="order_info">
                        <h3>
                            Tổng kết đơn hàng
                            VND</h3>
                        <ul class="purchase_items">
                            <li>
                                <span class="order_item_label">
                                    Tổng</span>
                                <span class="order_item_price">
                                    105.600</span>
                                
                            </li>
                            <li>
                                <span class="order_item_label">
                                    Giao hàng tiêu chuẩn - giao hàng tận nơi.
</span>
                                <span class="order_item_price">
                                    29.000
                                    </span>
                            </li>
                            <li>
                                <span class="order_item_label total_payment">
                                    Số tiền cần thanh toán</span>
                                <span class="order_item_price total_payment">
                                    134.600
                                    </span>
                            </li>
                        </ul>
                        
                    </div>
                
</div>
            
</div>
</div>
</div>
<div class="got_question visible-xs" id="popupright">
<div class="popup_btn">
    <a id="popup_button">
        CÓ CÂU HỎI?</a> <a id="popup_close"></a>
</div>
<div class="popup_box_content">
    <div id="help_center_mobile">
        <h2>Có câu hỏi?</h2>
<p>Vui lòng liên hệ bộ phận hỗ trợ 24 giờ của chúng tôi.</p>
<p class="customer_support_tel">Sdt. 02836222111</p>
    </div>
</div>
</div>
</div>