<div id="checkout" class="single_page checkout_payment">
    <div id="content" style="min-height: 635px;">
        <div class="wrapper">
            <div id="heading">
                <div class="wrapper">
                    <h1>
                        Thanh toán</h1>
                </div>
            </div>
            <!--part-->
            <router-outlet></router-outlet>
            <!--end part-->

            <div class="right">
                <div id="help_center" class="gotquestions">
                    <h2>Có câu hỏi?</h2>
                    <p>Vui lòng liên hệ bộ phận hỗ trợ 24 giờ của chúng tôi.</p>
                    <p class="customer_support_tel">Sdt. support.vn@chilindo.com</p>
                </div>
                <div id="ContentPlaceHolder1_UpdatePanel4"></div>
            </div>
        </div>
    </div>
    <div class="got_question visible-xs" id="popupright">
        <div class="popup_btn">
            <a id="popup_button">
                CÓ CÂU HỎI?</a>
            <a id="popup_close"></a>
        </div>
        <div class="popup_box_content">
            <div id="help_center_mobile">
                <h2>Có câu hỏi?</h2>
                <p>Vui lòng liên hệ bộ phận hỗ trợ 24 giờ của chúng tôi.</p>
                <p class="customer_support_tel">Sdt. support.vn@chilindo.com</p>
            </div>
        </div>
    </div>
</div>