<div id="footer">
    <div class="wrapper">
        <div class="cols2 left">
            <p>
                Got questions? We'd love to hear from you!
                Email us:
                <a href="mailto:support.vn@ohouseauction.com" id="aMailTo248">
                    support.vn@ohouseauction.com</a>
            </p>
        </div>
        <div class="cols2 right">
            <p>
                Copyright @ 2017 ohouseauction.com. All Rights Reserved.	
            </p>
        </div>
    </div>
</div>