<div class="left">
<div id="payment_progress">
    <span class="progress_bar first">
        <a id="lnkProgressBarBillingAddress" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$lnkProgressBarBillingAddress','')">Địa chỉ thanh toán</a>
    </span>
    <span class="progress_bar second">
        <a id="lnkProgressBarDeliveryOptions" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$lnkProgressBarDeliveryOptions','')">HÌnh thức giao hàng</a>
    </span>
    <span class="progress_bar third" style="display: none;">
        <a id="lnkProgressBarPaymentOptions" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$lnkProgressBarPaymentOptions','')">Các hình thức thanh toán</a>
    </span>
    <span class="progress_bar fourth">
        <a id="ContentPlaceHolder1_lnkProgressBarStatus" class="active" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$lnkProgressBarStatus','')">Tình trạng đơn hàng</a>
    </span>
    <span class="progress_bar inactive">
        <a href="#invoice">
            Hoá đơn của bạn</a>
    </span>
</div>
<div id="ContentPlaceHolder1_UpdateProgress2" style="display:none;" role="status" aria-hidden="true">

    <div class="divWaiting">
        <span id="ContentPlaceHolder1_lblWait1"> Please wait... </span>
        <img id="ContentPlaceHolder1_imgWait1" src="../Gfx/loader.gif" align="middle">
    </div>

</div>
<div id="ContentPlaceHolder1_UpdatePanel2">
</div>
<div id="ContentPlaceHolder1_payment_gateway" class="payment_info active">
    <div id="ContentPlaceHolder1_dvStatusPayment" class="checkout-status-payment">
        <h2>
            Hình thức thanh toán đã chọn:</h2>
        <div>
            <p>

            </p>
        </div>
        <div class="checkout-status-payment-txt">
            Cash On Delivery
        </div>
        <div class="checkout-status-payment-info">
            <a id="ContentPlaceHolder1_lnkChangePaymentOption" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$lnkChangePaymentOption','')">Thay đổi hình thức thanh toán</a>
        </div>
    </div>


    <div id="dvPaymentOptionsStep4">
        <div class="payment_options_main_step4">

        </div>
        <div class="payment_options_details_step4">

        </div>
    </div>

    <div class="checkout_progress">

    </div>
</div>

<div id="ContentPlaceHolder1_invoice" class="payment_info active">
    <div id="ContentPlaceHolder1_pnlInvoice">
        <div id="ContentPlaceHolder1_pnlCODNote">
            <div id="cash_on_delivery_note">
                <h2>
                    <span class="alertness">
                        :</span>
                    <u>
                        Chỉ nhận tiền mặt khi giao hàng</u>
                </h2>
            </div>
        </div>
        <div id="invoice_details">
            <div class="heading">
                <div class="inv_id">
                    <h2>
                        Hoá đơn số ORD12777150</h2>
                    <h5>
                        17-01-2018 (Thanh toán bởi 17-01-2018 )
                    </h5>
                </div>
                <div class="inv_logo">
                    <a href="#">
                        Chilindo
                    </a>
                </div>
            </div>
            <div class="inv_business_info">
                <div class="inv_client">
                    <h3>
                        Nguyen Haohmaru
                    </h3>
                    <p class="inv_details">
                        1 2 3
                    </p>
                    <p class="inv_details">
                        Vietnam
                    </p>
                    <p class="inv_details">
                        Bắc Giang
                    </p>
                    <p class="inv_details">
                        Lạng Giang
                    </p>
                    <p class="inv_details">
                        234151
                    </p>


                </div>
                <div class="inv_company">
                    <h3>
                        Chilindo.com
                    </h3>
                    <p class="inv_details">
                        Số 146-148 đường Cộng Hòa
                    </p>
                    <p class="inv_details">
                        Phường 12 Quận Tân Bình
                    </p>
                    <p class="inv_details">
                        Hồ Chí Minh
                    </p>
                    <p class="inv_details">
                        Việt Nam
                    </p>
                </div>
            </div>
            <div class="in-cart">
                <ul class="cart_list">
                    <li class="cart_heading">
                        <span class="cart_item">
                            Sản phẩm</span>

                        <span class="cart_item_price">
                            Giá /

                            <div class="tooltip_icon tooltip">
                                <i class="fa fa-info-circle"></i>
                                <div class="tooltiptext">

                                </div>
                            </div>
                        </span>
                    </li>


                    <li class="cart_rows odd">
                        <span id="ContentPlaceHolder1_repCartItems_spanCartItemImg_0" class="cart_item_img">
                            <div class="zoomWrapper">
                                <img id="ContentPlaceHolder1_repCartItems_imgCartItem_0" imgpath="/XML/Gfx/11-616/11-616-1_75.jpg" saleid="0" data-zoom-image="http://www.cdn-chilindo.com/XML/Gfx/11-616/11-616-1_720.jpg"
                                    src="http://www.cdn-chilindo.com/XML/Gfx/11-616/11-616-1_75.jpg">
                            </div>
                        </span>
                        <span class="cart_item">



                            <span id="ContentPlaceHolder1_repCartItems_lbTitleItemName_0" auctionid="106210383">
                                <a href="/auction.aspx?aid=106210383&amp;GoNext=No" target="_blank"> Kính mắt kiểu phi công</a>
                            </span>
                        </span>
                        <span class="cart_unit_price">
                        </span>
                        <span id="ContentPlaceHolder1_repCartItems_spCartItemPrice_0" class="cart_total_unit_price cart_item_price">
                            <b>(259.000) /</b> 284.900</span>

                    </li>

                    <li class="cart_rows odd">

                        <span class="cart_item">


                            Khuyến mãi

                        </span>
                        <span class="cart_unit_price">
                        </span>
                        <span id="ContentPlaceHolder1_repCartItems_spCartItemPrice_2" class="cart_total_unit_price cart_item_price">
                            0</span>

                    </li>

                    <li class="cart_rows odd">

                        <span class="cart_item">
                            Giao hàng

                        </span>
                        <span class="cart_unit_price">
                        </span>
                        <span id="ContentPlaceHolder1_repCartItems_spCartItemPrice_3" class="cart_total_unit_price cart_item_price">
                            29.000</span>

                    </li>

                    <li class="cart_rows odd">

                        <span class="cart_item">


                            Tổng

                        </span>
                        <span class="cart_unit_price">
                        </span>
                        <span id="ContentPlaceHolder1_repCartItems_spCartItemPrice_4" class="cart_item_price total_in_cart">
                            ₫ 313.900</span>

                    </li>


                </ul>
            </div>
            <div class="inv_payment_info">
                <div class="inv_payment_details">
                    <h3>
                        Chi tiết thanh toán
                    </h3>
                    <p class="inv_details">
                    </p>
                    <p class="inv_details">
                    </p>
                    <p class="inv_details">
                    </p>
                </div>
                <div class="inv_other_info">
                    <h3>
                        Thông tin khác</h3>
                    <p class="inv_details">
                        Giấy phép ĐKKD số: 0314559014
                    </p>
                    <p class="inv_details">
                        Mã số thuế số: 0314559014
                    </p>
                    <p class="inv_details">
                        Liên hệ phòng kinh doanh:
                        <a href="mailto:support.vn@chilindo.com">support.vn@chilindo.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="checkout_progress">
            <a id="ContentPlaceHolder1_lnkInvoicePrint" class="buttons print_invoice large" href="../Order.aspx?orderguid=5CCD88DB-7190-40EC-8513-75E62B95AE67"
                target="_blank">In hoá đơn</a>
        </div>
    </div>
</div>
</div>