# See http://help.github.com/ignore-files/ for more about ignoring files.
account-service/.classpath
account-service/.project
account-service/.settings
account-service/target
account-service/.springBeans
api-gateway/.classpath
api-gateway/.project
api-gateway/.settings
api-gateway/target
api-gateway/.springBeans
configuration-service/.classpath
configuration-service/.project
configuration-service/.settings
configuration-service/target
configuration-service/.springBeans
discovery-service/.classpath
discovery-service/.project
discovery-service/.settings
discovery-service/target
discovery-service/.springBeans
house-service/.classpath
house-service/.project
house-service/.settings
house-service/target
house-service/.springBeans
authentication-service/.classpath
authentication-service/.project
authentication-service/.settings
authentication-service/target
authentication-service/mvnw
authentication-service/mvnw.cmd
authentication-service/.mvn
authentication-service/.springBeans
/.metadata/
bidhouse-common/target
bidhouse-common/.mvn
bidhouse-common/.settings
bidhouse-common/mvnw
bidhouse-common/mvnw.cmd
bidhouse-common/.classpath
bidhouse-common/.project
bidhouse-common/.springBeans

