<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">giá thầu hiện tại</a></li>
  <li><a data-toggle="tab" href="#menu1">đấu giá đã thắng</a></li>
  <li><a data-toggle="tab" href="#menu2">đấu giá thua</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <table style="border:1px solid #eee; width:100%">
        <th>Trạng thái</th>
        <th>Giá hiện tại của bạn</th>
        <th>Giá thầu tối thiểu hiện tại</th>
        <th>Giá thầu</th>
        <th>Hoàn thành</th>
    </table>
    <h3>Bạn đang không tham gia phiên đấu giá nào</h3>
  </div>
  <div id="menu1" class="tab-pane fade">
      <table style="border:1px solid #eee; width:100%">
          <th>Trạng thái</th>
          <th>Giá hiện tại của bạn</th>
          <th>Giá thầu tối thiểu hiện tại</th>
          <th>Giá thầu</th>
          <th>Hoàn thành</th>
      </table>
      <h3>Bạn đang không thắng phiên đấu giá nào</h3>
  </div>
  <div id="menu2" class="tab-pane fade">
      <table style="border:1px solid #eee; width:100%">
          <th>Trạng thái</th>
          <th>Giá hiện tại của bạn</th>
          <th>Giá thầu tối thiểu hiện tại</th>
          <th>Giá thầu</th>
          <th>Hoàn thành</th>
      </table>
      <h3>Bạn đang không thua phiên đấu giá nào</h3>
  </div>
</div>