@media (min-width: 768px)
{
    .home-wrapper .power-auction-box {
        width: 151px;
    }
}
.home-wrapper .power-auction-box {
    width: 153px;
}
@media (min-width: 768px){
.power-auction-box {
    width: 170px;
}}
@media (min-width: 768px){
.power-auction-box {
    margin-left: 3px;
    margin-right: 3px;
}}
.power-auction-box {
    background: rgba(238,238,238,0.8) none repeat scroll 0 0;
    width: 171px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.power-auction-box .power-auction-aimg a {
    height: 0;
    padding-bottom: 132%;
}

.power-auction-box a {
    display: block;
    overflow: hidden;
    max-width: 100%;
}
.power-auction-box img {
    width: 102%;
    height: auto;
    display: block;
    margin-left: -1px;
    margin-top: -1px;
}

a img {
    border: none;
}
img {
    vertical-align: middle;
}
.power-auction-ends {
    float: left;
    text-align: left;
}

.power-auction-ends, .power-auction-bid {
    width: 50%;
    margin: 0;
    padding: 10px 5px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    z-index: 3;
    background: rgba(238,238,238,0.8);
    white-space: nowrap;
    overflow: hidden;
}
.power-auction-bid {
    float: right;
    text-align: right;
}
.power-auction-btn-td {
    float: left;
    width: 100%;
}
.power-auction-ends, .power-auction-bid {
    width: 50%;
    margin: 0;
    padding: 10px 5px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    z-index: 3;
    background: rgba(238,238,238,0.8);
    white-space: nowrap;
    overflow: hidden;
}

.item-row {
    border: 1px solid #ecf0f1;
    -moz-box-shadow:4px 4px 20px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25);
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.25);
    margin-bottom:30px;
    background:white;
}
.img-wrapper {
    width: 100%;
    position:relative;
    overflow: hidden;
    height:15em;
    text-align: center;
}
.img-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.img-wrapper img.portrait {
  width: 100%;
  height: auto;
}
.item-fweight {
    /* font-weight: bold; */
}
.baths, .timer {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}
.current-bid {
    font-size: 26px;
    padding: 10px 10px;
}
.btn-warning {
    background-color: #FFA500;
    border-color: #FFA900;
}
address h2{
    padding:0 15px;
}
.type{
    font-weight: 700;
    font-size:18px;
    height:36px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-content: center;
    justify-content: center;
    display: -webkit-flex;
    display: flex;
}
.timer{
    height:100%;
}
.beds, .baths, .sqMeter{
    height:100px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-content: center;
    justify-content: center;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.timer table{
    height:100px;
}
.counter td{
    font-size:26px;
}
.row{
    border-bottom:1px solid #ecf0f1;
}
.row:not(:first-child):last-child{
    border-bottom:0;
}
.current-bid{
    height:60px;
}
.details{
    height:40px;
    width:100%;
    display:block;
}
@media (max-width: 767px){
    .beds, .baths, .sqMeter{
        border-bottom:1px solid #ecf0f1;
    }
}
.div-house-avatar {
    padding-left: unset;
}