<ng-template *ngIf="houseList && houseList.length > 0; else noResult">
    <!-- House #1 -->
    <div class="row item-row" *ngFor="let house of houseList">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="row" style="border-bottom:0; border-right:1px solid #ecf0f1">
                <div class="img-wrapper">
                    <img class="portrait" src="{{house.avatar}}">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8"> 
            <div class="row">
                <address>
                    <h2 [innerHtml] = "house.address"></h2>
                </address>
            </div>
            <div class="row">
                <div class="col-12 col-sm-5 col-md-6 col-lg-6 text-center">
                    <div class="row">
                        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 type" [innerHtml] = "house.type"></span>                    
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 beds">
                            <span [innerHtml] = "house.info.beds"></span>
                            <span class="item-fweight">Beds</span>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 baths">
                            <span>2</span>
                            <span class="item-fweight" [innerHtml] = "house.info.baths"></span>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 sqMeter">
                            <span [innerHtml] = "house.info.sqMeter" ></span>
                            <span class="item-fweight">Sq M</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-3 text-center timer">
                    <div class="row">
                        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 type">Time left</span>
                    </div>
                    <div class="row">
                        <table width="100%">
                            <tbody>
                                <tr class="counter Orange">
                                    <td>1</td>
                                    <td valign="middle">:</td>
                                    <td>15</td>
                                    <td valign="middle">:</td>
                                    <td>56</td>
                                </tr>
                                <tr class="item-fweight">
                                    <td>DAY</td>
                                    <td>&nbsp;</td>
                                    <td>HRS</td>
                                    <td>&nbsp;</td>
                                    <td>MINS</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 text-center paddingLR0 ">
                    <div class="row">
                        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 type">Current Bid</span>
                    </div>
                    <div class="row">
                        <div class="current-bid">$107,000</div>
                    </div>
                    <div class="row">
                        <a type="button" [routerLink] = "['/house/123']" class="btn btn-warning details flat">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #noResult>
    <no-result-component [icon] = "'./assets/images/empty/no-house.svg'" [title]="'No house auction'" [body]="'There is no house auction now.'"></no-result-component>
</ng-template>