<div id="auction_feed">
    <div class="wrapper home-wrapper">
        <div class="left_col">
            <!-- House #1 -->
            <div id="power-auctions_panel"> 
                <div class="power_auctions_panel_inner">
                    <div class="power-auction-box">
                        <div class="power-auction-aimg ">
                            <a href="/product/43-767/NEATMensWatchBlack">
                                <img class="power-auction-img" auctionid="102555674" src="https://odis.homeaway.com/odis/listing/33836655-0230-4d8c-b397-f1c73e959440.c10.jpg"></a>
                        </div>
                        <div class="power-auction-ends">
                            <div id="pa_1" seconds="13" style="color: rgb(255,0,0);">Ending ..</div>
                        </div>
                        <div class="power-auction-bid">292 ETH</div>
                        <div class="power-auction-btn-td">
                            <p class="info_data bidding_button">
                                <a id="a_place_bid" href="/product/43-767/NEATMensWatchBlack" class="buttons bidding small powerauction">Place Bid</a>
                            </p>
                        </div>
                    </div>
                </div> 
            </div>
            <!-- House #2 -->
            <div id="power-auctions_panel"> 
                <div class="power_auctions_panel_inner">
                    <div class="power-auction-box">
                        <div class="power-auction-aimg ">
                            <a href="/product/43-767/NEATMensWatchBlack">
                                <img class="power-auction-img" auctionid="102555674" src="https://odis.homeaway.com/odis/listing/33836655-0230-4d8c-b397-f1c73e959440.c10.jpg"></a>
                        </div>
                        <div class="power-auction-ends">
                            <div id="pa_1" seconds="13" style="color: rgb(255,0,0);">Ending ..</div>
                        </div>
                        <div class="power-auction-bid">292 ETH</div>
                        <div class="power-auction-btn-td">
                            <p class="info_data bidding_button">
                                <a id="a_place_bid" href="/product/43-767/NEATMensWatchBlack" class="buttons bidding small powerauction">Place Bid</a>
                            </p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>


