<div id="auction_feed">
    <div class="wrapper home-wrapper">
        <div class="left_col">
            <a id="ContentPlaceHolder1_lnkBanner1" class="banner-black">
            <picture>
             <source id="srcImgMob" media="(max-width: 767px)" srcset="">
                 <input name="ctl00$ContentPlaceHolder1$hdnSrcImgMob" type="hidden" id="hdnSrcImgMob">
             <source id="srcImgtab" media="(max-width: 991px)" srcset="http://www.ohouseauction.com">
                  <input name="ctl00$ContentPlaceHolder1$hdnSrcImgtab" type="hidden" id="hdnSrcImgtab" value="http://www.ohouseauction.com">
            </picture>
          </a>
            <!--product-one-->
            <product-one-component *ngFor="let i of [1,2,3,4,5,6,7,8,9,1,1,1]"></product-one-component>
            <!--end product-one-->
            <ul id="watching_list" class="product_list">
            </ul>
        </div>
    </div>
</div>
